<section class="annotation">
  <div class="container">
  <h2 class="annotation-title">What We Do</h2>
  <p class="annotation-description">We launch different types of platforms and operating systems using distinguishes of every platform or operating system as advantage and powerful tool.</p>
  </div>
</section>
<section class="content">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="card">
          <div class="card-image">
            <img class="image" src="../../../../../assets/images/services/all/mobile_apps.png" alt="Mobile Apps">
              </div>
                <div class="card-content">
                  <h5 class="card-content-title">Mobile Apps</h5>
                  <p class="card-content-description">We are a nimble team of designers, developers, and strategists who are passionate about helping our clients achieve their goals and grow their brands.</p>
                <div class="card-button-wrapper">
                  <button class="card-button button" [routerLink]="['/services/mobile-apps']">Learn more</button>
                </div>
              </div>
            </div>
        </div>
      <div class="column">
        <div class="card">
          <div class="card-image">
            <img class="image" src="../../../../../assets/images/services/all/web_services.png" alt="Web Services">
          </div>
          <div class="card-content">
            <h5 class="card-content-title">Web Services</h5>
            <p class="card-content-description">We are a nimble team of designers, developers, and strategists who are passionate about helping our clients achieve their goals and grow their brands.</p>
            <div class="card-button-wrapper">
              <button class="card-button button" [routerLink]="['/services/web-services']">Learn more</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="card">
          <div class="card-image">
            <img class="image" src="../../../../../assets/images/services/all/augmented_reality.png" alt="Augmented Realit">
          </div>
          <div class="card-content">
            <h5 class="card-content-title">Augmented Reality</h5>
            <p class="card-content-description">We are a nimble team of designers, developers, and strategists who are passionate about helping our clients achieve their goals and grow their brands.</p>
            <div class="card-button-wrapper">
              <button class="card-button button" [routerLink]="['/services/augmented-reality']">Learn more</button>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-image">
            <img class="image" src="../../../../../assets/images/services/all/ui_ux_design.png" alt="UI/UX Design">
          </div>
          <div class="card-content">
            <h5 class="card-content-title">UI/UX Design</h5>
            <p class="card-content-description">We are a nimble team of designers, developers, and strategists who are passionate about helping our clients achieve their goals and grow their brands.</p>
            <div class="card-button-wrapper">
              <button class="card-button button" [routerLink]="['/services/ui-ux-design']">Learn more</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column" style="display: flex; justify-content: center">
      <div class="card" style="max-width: 660px">
        <div class="card-image">
          <img class="image" src="../../../../../assets/images/services/all/development.png" alt="Development">
        </div>
        <div class="card-content">
          <h5 class="card-content-title">Development</h5>
          <p class="card-content-description">We are a nimble team of designers, developers, and strategists who are passionate about helping our clients achieve their goals and grow their brands.</p>
          <div class="card-button-wrapper">
            <button class="card-button button" [routerLink]="['/services/development']">Learn more</button>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>
<section class="resume">
  <div class="container">
    <h2 class="resume-title">We enjoy what we do. <br /> Working with smart people at great projects. <br /> Contact us if you want to work with us.</h2>
    <div class="resume-button-wrapper">
      <button class="resume-button button" [routerLink]="['/contact-us']">Contact Us</button>
    </div>
  </div>
</section>


