<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
      <div class="navbar-start">
        <div class="navbar-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a routerLink="all">
            <span class="navbar-item-text" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">All</span>
          </a>
        </div>
        <div class="navbar-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a routerLink="mobile-apps">
            <span class="navbar-item-text" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Mobile Apps</span>
          </a>
        </div>
        <div class="navbar-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a routerLink="web-services">
            <span class="navbar-item-text" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Web services</span>
          </a>
        </div>
        <div class="navbar-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a routerLink="augmented-reality">
            <span class="navbar-item-text" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Augmented reality</span>
          </a>
        </div>
        <div class="navbar-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a routerLink="ui-ux-design">
            <span class="navbar-item-text" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">UI/UX design</span>
          </a>
        </div>
        <div class="navbar-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a routerLink="development">
            <span class="navbar-item-text" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Development</span>
          </a>
        </div>
      </div>
    </div>
</nav>

