<div class="footer">
 <section class="contacts">
   <div class="container">
     <div class="columns">
       <div class="column is-4 has-text-centered">
         <ul>
           <li>
             <span>Headquarters:</span>
           </li>
           <li>
             <span>11 E. Chavdar Street, Office 222,</span>
           </li>
           <li>
             <span>Kiev, Ukraine 04335</span>
           </li>
         </ul>
       </div>
       <div class="column is-4 has-text-centered">
         <ul>
           <li>
             <span>USA:</span>
           </li>
           <li>
             <a class="contacts-link" href="mailto:usa.hr@trinetix.com">usa.hr@trinetix.com</a>
           </li>
           <li>
             <a class="contacts-link" href="tel:12123361440">+1 212-336-1440</a>
           </li>
         </ul>
       </div>
       <div class="column is-4 has-text-centered">
         <ul>
           <li>
             <span>Ukraine:</span>
           </li>
           <li>
             <a class="contacts-link" href="mailto:ua.hr@trinetix.com">ua.hr@trinetix.com</a>
           </li>
           <li>
             <a class="contacts-link" href="tel:380443342341">+38 044-334-2341</a>
           </li>
         </ul>
       </div>
     </div>
   </div>
 </section>
  <section class="copyright">
    <div class="container">
      <div class="columns">
        <div class="copyright-wrapper column is-3 is-half-tablet">
          <span class="copyright-content">© 2010-2015 Trinetix LLC</span>
        </div>
        <div class="column is-6 footer-navigation-wrapper">
            <ul class="footer-navigation">
              <li class="footer-navigation-item">
                <a class="footer-navigation-link" routerLink="/" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Home</a>
              </li>
              <li class="footer-navigation-item">
                <a class="footer-navigation-link" routerLink="case-studies" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Case studies</a>
              </li>
              <li class="footer-navigation-item">
                <a class="footer-navigation-link" routerLink="services/all" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Services</a>
              </li>
              <li class="footer-navigation-item">
                <a class="footer-navigation-link" routerLink="expertise" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Expertise</a>
              </li>
              <li class="footer-navigation-item">
                <a class="footer-navigation-link" routerLink="about" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">About</a>
              </li>
              <li class="footer-navigation-item">
                <a class="footer-navigation-link" routerLink="contact-us" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Contact Us</a>
              </li>
            </ul>
        </div>
        <div class="column">
          <ul class="social-icons">
            <li class="social-icon">
              <a href="https://facebook.com/" target="_blank">
                <div class="facebook-icon"></div>
              </a>
            </li>
            <li class="social-icon">
              <a href="https://www.linkedin.com/" target="_blank">
                <div class="linkedin-icon"></div>
              </a>
            </li>
            <li class="social-icon">
              <a href="https://www.google.com/" target="_blank">
                <div class="google-icon"></div>
              </a>
            </li>
            <li class="social-icon">
              <a href="https://twitter.com/" target="_blank">
                <div class="twitter-icon"></div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
